#wrapper {
    background-color: #ffffff;
    margin: 15px auto;
    border: 1px solid #cdcbcb;
    width: 960px;
}

button {
    margin: 5px 30px;
    height: 25px;
    width: 80px;
    display: inline-block;
    background-color: #F0F0F0;
    color: #000c1a;
    border: 1px solid #cdcbcb;
}

form {
    margin: 5px 0px;
    display: inline-block;
}

select {
    margin: 5px 30px;
    height: 25px;
    width: 100px;
    background-color: #F0F0F0;
    color: #000c1a;
    border: 1px solid #cdcbcb;    
}

input { 
    background-color: #F0F0F0;
    color: #000c1a;
    border: 1px solid #cdcbcb;
}

label {
    font-family: Arial;
    font-size: 15px;
    color: #000c1a;
}

#container {
    background-color: #ffffff;
    margin: 30px auto;
    outline: 2px solid #cdcbcb;
    visibility: hidden;
}

#container > div {
    display: inline-block; 
}
